<p>
    What is the name of the new page?
</p>

<form (submit)="addPage()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name" [(ngModel)]="newName">
    </div>
    <button type="submit" class="btn btn-default">Add</button>
</form>
<br>
<hr>
<br>
<p>
    What is the name of the page you want to remove?
</p>

<form (submit)="removePage()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name" [(ngModel)]="removeName">
    </div>
    <button type="submit" class="btn btn-danger">Remove</button>
</form>
